<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  {% block head %}
    <title>Cube Conductor App</title>
  {% endblock %}
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a class="brand-logo" href="/">CubeConductor</a>
      <ul class="right hide-on-med-and-down">
        {% if c.user %}
          <li>Welcome, {{ c.user.name }}
          <li><a href="{{ c.uri_for('logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ c.uri_for('login') }}">Log In</a>
        {% endif %}
      </ul>
      <ul id="nav-mobile" class="sidenav">
        {% if c.user %}
          <li><a href="{{ c.uri_for('logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ c.uri_for('login') }}">Log In</a>
        {% endif %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script type="application/javascript">
    $('.sidenav').sidenav();
  </script>
</body>
</html>
{% endautoescape %}
