{% extends "base.html" %}
{% block content %}
  <h3 class="center orange-text">
    My Competitions
  </h3>
  {% if not c.user %}
    <h5 class="header col s12 light">
      Please <a href="{{ c.uri_for('login') }}">log in</a> to see your competitions!
    </h5>
  {% endif %}
  {% if managed_competitions %}
    <h5>
      Competitions I Can Manage
    </h5>
    <ul class="collapsible">
      {% for competition in managed_competitions %}
        <li>
          <div class="collapsible-header">
            <i class="material-icons">event</i>
            {{ competition.name }}
            <span class="text-lighten-2 badge">
              {% autoescape false %}
                {{ competition.FormatDates() }}
              {% endautoescape %}
            </span>
          </div>
          <div class="collapsible-body">
            {% if competition.enabled %}
              <a href="{{ c.uri_for('competition_update',
                                    competition_id=competition.key.id()) }}">
                Update Competition Info
              </a>
            {% else %}
              This competition isn't set up for Cube Conductor yet.
              <a href="{{ c.uri_for('competition_update',
                                    competition_id=competition.key.id()) }}">
                Set up now!
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if my_competitions %}
    <h5>
      My Upcoming Competitions
    </h5>
    <ul class="collapsible">
      {% for competition in my_competitions %}
        <li>
          <div class="collapsible-header">
            <i class="material-icons">event</i>
            {{ competition.name }}
            <span class="text-lighten-2 badge">
              {% autoescape false %}
                {{ competition.FormatDates() }}
              {% endautoescape %}
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if c.user and not managed_competitions and not my_competitions %}
    <h5 class="header col s12 light">
      No competitions found.  Only competitions using the Cube Conductor app will appear here.
    </h5>
  {% endif %}
  <script type="application/javascript">
    window.history.pushState("", "", "{{ c.uri_for('my_competitions') }}");
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
{% endblock %}
